## ░█▀▀░▀█▀░█▀█░█▀▄░█▀▀░█░█░▀█▀░█▀█
## ░▀▀█░░█░░█▀█░█▀▄░▀▀█░█▀█░░█░░█▀▀
## ░▀▀▀░░▀░░▀░▀░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░░
## CROSS-SHELL PROMPT
## The minimal, blazing-fast, and infinitely customizable prompt for any shell!

format = """
$hostname\
$directory\

$localip\
$shlvl\
$singularity\
$kubernetes\
$vcsh\
$hg_branch\
$docker_context\
$package\
$custom\

$sudo\

$fill\
$git_branch\
$git_status\
$git_commit\
$cmd_duration\
$jobs\
$battery\
$time\
$status\
$os\
$container\
$shell\
$line_break\
$character"""

palette = "normal"

# Disable the blank line at the start of the prompt
add_newline = true

[username]
format = "[](fg:green)[$user](fg:bg bg:green)[](fg:green bg:none)"
show_always = true

# Second param
[hostname]
ssh_only = true 
format = "[](fg:bg bg:none)[█](fg:fg bg:bg)[$ssh_symbol$hostname](bold bg:fg)[](fg:fg bg:none) "
disabled = false

# Third param
[directory]
format = "[](fg:bg bg:none)[$path]($style)[█](fg:bg-darker bg:bg-darker)[](fg:green bg:bg)[ ](fg:bg bg:green)[](fg:green bg:none)"
style = "fg:fg bg:bg bold"
truncation_length = 3
truncate_to_repo=false
read_only = " "

## SECOND LINE/ROW: Prompt
# Prompt: param 2 └─
[character]
success_symbol = "[ ](green bold)"
error_symbol = "[ ](red bold)"

[line_break]
disabled = false

[fill]
symbol = ' '
style = 'bold blue'

[cmd_duration]
min_time = 1
format = "[](fg:bg bg:none)[$duration]($style)[](fg:bg bg:bg)[](fg:purple bg:bg)[󱑂 ](fg:bg bg:purple)[](fg:purple bg:none)"
disabled = false
style = "fg:fg bg:bg bold"


[git_branch]
format = "[](fg:bg bg:none)[$branch]($style)[](fg:bg bg:bg)[](fg:blue bg:bg)[](fg:bg bg:blue)[](fg:blue bg:none) "
style = "fg:fg bg:bg"
symbol = " "

[git_status]
format="[](fg:bg bg:none)[$all_status$ahead_behind]($style)[](fg:bg bg:bg)[](fg:green bg:bg)[ ](fg:bg bg:green)[](fg:green bg:none) "
style = "fg:fg bg:bg"
conflicted = "="
ahead =	"⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
up_to_date = " 󰄸 "
untracked = "?${count}"
stashed = ""
modified = "!${count}"
staged = "+${count}"
renamed = "»${count}"
deleted = " ${count}"

[git_commit]
format = "[\\($hash\\)]($style) [\\($tag\\)]($style)"
style = "blue"

[git_state]
rebase = "REBASING"
merge =	"MERGING"
revert = "REVERTING"
cherry_pick = "CHERRY-PICKING"
bisect = "BISECTING"
am = "AM"
am_or_rebase = "AM/REBASE"
style =	"yellow"
format = '\([$state( $progress_current/$progress_total)]($style)\) '

# # SYMBOLS

[aws]
symbol = "  "

[conda]
symbol = " "

[dart]
symbol = " "

# [directory]

[docker_context]
symbol = " "
format = "via [$symbol$context]($style) "
style = "green bold"
only_with_files = true
detect_files = ["docker-compose.yml", "docker-compose.yaml", "Dockerfile"]
detect_folders = []
disabled = false

[elixir]
symbol = " "

[elm]
symbol = " "

[golang]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[haskell]
symbol = "λ "

[memory_usage]
symbol = " "

[nim]
symbol = " "

[nix_shell]
symbol = " "

[package]
symbol = " "

[perl]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "
#pyenv_version_name = true
format = 'via [${symbol}python (${version} )(\($virtualenv\) )]($style)'
style = "bold yellow"
pyenv_prefix = "venv "
python_binary = ["./venv/bin/python", "python", "python3", "python2"]
detect_extensions = ["py"]
version_format = "v${raw}"

[ruby]
symbol = " "

[rust]
symbol = " "

[scala]
symbol = " "

[shlvl]
symbol = " "

[swift]
symbol = "ﯣ "

[nodejs]
format = "via [ Node.js $version](bold blue) "
detect_files = ["package.json", ".node-version"]
detect_folders = ["node_modules"]

# Other languages configurations:
c.disabled = true
cmake.disabled = true
haskell.disabled = true
python.disabled = true
ruby.disabled = true
rust.disabled = true
perl.disabled = true
package.disabled = true
lua.disabled = true
nodejs.disabled = true
java.disabled = true
golang.disabled = true


[palettes.normal]
bg = "#111c18"
bg-darker = "#111c18"
fg = "#C1C497"
green = "#549e6a"
purple = "#D2689C"
blue = "#2DD5B7"
red = "#FF5345"
